{% extends 'navbar.html' %}
{% block content %}
   
<div class="container my-3">
  <h4 class="text-center alert alert-info py-3">List of Animals</h4>

  <table class="table table-bordered" id="animalCategory">
    <thead>
      <tr>
        <th scope="col">#</th>      
        <th scope="col">Token No</th>
        <th scope="col">Name</th>
        <th scope="col">Total Pregnancy Count</th>
        <th scope="col">Miscarriage Count</th>
        <th scope="col">Infartility Count</th>
        <th scope="col">Complete Pregnancy Count</th>

      </tr>
    </thead>
    
    
        {% comment %} Run a loop here and iterate all the category_counts {% endcomment %}
    
        {% for animal in category_counts %}
        <tr>
            <td>{{ animal.animal_id }} </td>
            <td><a href="list_pregnancy_detail/{{ animal.animal_id }}">{{ animal.token_no }}</a> </td>
            <td>{{ animal.name }}</td>
            <td>{{ animal.pregnancy_count }}</td>
            <td>{{ animal.Miscarage_count }}</td>
            <td>{{ animal.Infirtality_count }}</td>
            <td>{{ animal.Complete_Deliveries }}</td>
        </tr>
    {% endfor %}
      
    </tbody>
  </table>

</div>    
<script>
  $(document).ready(function() {
    // Initialize DataTable
    $('#animalCategory').DataTable({
      "paging": true,      // Enable pagination
      "ordering": true,    // Enable sorting
      "searching": true,   // Enable search
      "info": true,        // Show info about entries and pagination
      "responsive": true,  // Enable responsive behavior
      "columnDefs": [
        // Specify column-specific options if needed
        // Example: {"targets": [0], "searchable": false, "orderable": false}
        ]
      });
    });  
  </script>

{% endblock content %}

