{% include  'navbar.html' %}
{% block content %}
   
<div class="container my-3">
  <h4 class="text-center alert alert-info py-3">List of Pregnancy Detail</h4>
  {% if animal_det %}
  <table class="table table-bordered" id="animalDetail">
    <thead>
      <tr>
        <th scope="col">#</th> 
        <th scope="col">Animal Token</th>     
        <th scope="col">is Pregnancy Confirmed</th>
        <th scope="col">Pregnancy Checked on</th>
        <th scope="col">Description</th>
        <th scope="col">is Delivery Complete</th>
        <th scope="col">Actual Delivery Date</th>
        <th scope="col">is Miscarriage</th>
        <th scope="col">Miscarriage Date</th>
        <th scope="col">Infartility</th>
        <th scope="col">is_Pragnent</th>
        <th scope="col">pregnancy Start Date</th>
        <th scope="col">pregnancy End Date</th>
        
        {% comment %} <th scope="col">Created by</th>
        <th scope="col">Created on</th>
        <th scope="col">Updated by</th>
        <th scope="col">Updated on</th> {% endcomment %}
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>

      </tr>
    </thead>
    <tbody>
        {% comment %} Run a loop here and iterate all the animal_det {% endcomment %}
     {% for det in animal_det %}
     <tr>
       <th scope="row">{{forloop.counter}}</th>
       <td>{{det.animal_profile.token_no}}</td> 
       {% if  det.is_pregnancy_confirmed == 1 %}     
       <td>Yes</td>
       {% else %}
       <td></td>
       {% endif %}  
       <td>{{det.pregnancy_checked_on|date:"d-m-Y"}}</td>      
       <td>{{det.description}}</td>
       {% if  det.is_delivery_completed == 1 %}     
       <td>Yes</td>
       {% else %}
       <td></td>
       {% endif %}  
       <td>{{det.actual_delivery_date|date:"d-m-Y"}}</td> 
       {% if  det.is_miscarriage == 1 %}     
       <td>Yes</td>
       {% else %}
       <td></td>
       {% endif %}  
       <td>{{det.miscarriage_date|date:"d-m-Y"}}</td>     
       {% if  det.infartility == 1 %}     
       <td>Yes</td>
       {% else %}
       <td></td>
       {% endif %}
       {% if  det.is_pregnant == 1 %}     
       <td>Yes</td>
       {% else %}
       <td></td>
       {% endif %}
       <td>{{det.pregnancy_start_date|date:"d-m-Y"}}</td>
       <td>{{det.pregnancy_end_date|date:"d-m-Y"}}</td>
        
       {% comment %} <td>{{det.created_by}}</td>  
       <td>{{det.created_on|date:"d-m-Y" }}</td>  
       <td>{{det.updated_by}}</td>  
       <td>{{det.updated_on|date:"d-m-Y"}}</td>  {% endcomment %}
       <td><a href="/pregnancy_det_edit/{{det.pregnancy_id}}" class="btn btn-sm btn-warning"/>Edit</td>
       <td><a href="/pregnancy_det_delete/{{det.pregnancy_id}}" class="btn btn-sm btn-danger"/>Delete</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <h4 class="text-center alert alert-warning">No Record</h4>
{% endif %}
</div>    



<script>
  $(document).ready(function() {
    // Initialize DataTable
    $('#animalDetail').DataTable({
      "paging": true,      // Enable pagination
      "ordering": true,    // Enable sorting
      "searching": true,   // Enable search
      "info": true,        // Show info about entries and pagination
      "responsive": true,  // Enable responsive behavior
      "columnDefs": [
        // Specify column-specific options if needed
        // Example: {"targets": [0], "searchable": false, "orderable": false}
      ]
    });
  });  
</script>





{% endblock content %}