<html>
  <head>
    <title>Animal Profile</title>
  </head>
<body>
  

  {% include 'navbar.html' %}

{% block content %}



  
{% comment %} <div class="container my-3"> 
  <div  style="margin-left:30%; margin-top:-42%; "><b></b></div> {% endcomment %}
  <div style="margin:2%;">
  <form action='/insert_animal_profile' method="POST" >
    <div class="alert alert-dark " role="alert" style="margin-top:5%;"><b >Basic Info</b></div>
    {% if error2 %}
    <div class="alert alert-danger offset-2" role="alert">
      Please Enter Token No !!    
    </div>
    {% endif %}  
    {% if error3 %}
    <div class="alert alert-danger offset-2" role="alert">
      Please Enter Name !!    
    </div>
    {% endif %} 
    {% if error4 %}
    <div class="alert alert-danger offset-2" role="alert">
      Please Enter Color !!    
    </div>
    {% endif %} 
    {% if error5 %}
    <div class="alert alert-danger offset-2" role="alert">
      Please Enter Category !!    
    </div>
    {% endif %} 
    {% if error6 %}
    <div class="alert alert-danger offset-2" role="alert">
      Please Enter Gender!!    
    </div>
    {% endif %} 
    {% if error7 %}
    <div class="alert alert-danger offset-2" role="alert">
      Please Enter Person!!    
    </div>
    {% endif %} 

    {% if error8 %}
    <div class="alert alert-danger offset-2" role="alert">
      Please Enter pragnancy_start_date !!    
    </div>
    {% endif %} 
    {% if error9 %}
    <div class="alert alert-danger offset-2" role="alert">
      Please Enter is_Active Field !!    
    </div>
    {% endif %} 


    {% csrf_token %}
    <div class="container-fluid" style="margin-left:0%;">
    <div class="row">
      <div class="col">
        <label class=" control-label">Token No :<span style="color:red; font-weight:bold;">*</span></label>
        <input type="text" class="form-control" id="token_no" name="token_no"  >
      </div>
      <div class="col">
          <label class=" control-label">Name :<span style="color:red; font-weight:bold;">*</span></label>
          <input type="text" class="form-control" id="ani_name" name="ani_name"  >
      </div>
      <div class="col">
        <label class=" control-label">Color :<span style="color:red; font-weight:bold;">*</span></label>
        <input type="text" class="form-control" id="color" name="color"  >
      </div>
      <div class="col">
        <label class=" control-label">Weight(KG):</label>
        <input type="text" class="form-control" id="weight" name="weight"  >
      </div>
    </div>
    
    <div class="row">
      <div class="col" >
        <label class="from-group" >Category :<span style="color:red; font-weight:bold;">*</span></label>
        <select id="category_id" name="category_id"  class="form-control">
          <option value="">Select Category</option>
          {% for x in ani %}
          <option value="{{x.category_id}}">{{x.name}}</option>  
        {% endfor %}
        </select>
      </div>
      
      <div class="col" >
        <label for="purchase_price ">Purchase Price :</label>
        <input type="text" class="form-control" id="purchase_price" name="purchase_price"  >
      </div>
      <div class="col" >
        <label for="purchased_date">Purchased Date :</label>
        <input type="date" class="form-control" id="purchased_on" name="purchased_on" value="{{date}}" >
      </div>
    
      <div class="col" >
        <label for="purchased_by">Purchased By :</label>
        
        <input type="text" class="form-control" id="purchased_by" name="purchased_by"  >
      </div>
    </div>
    <div class="row">
      <div class="col" >
        <label class=" control-label">Date of Birth :</label>
        <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" >
      </div>
      <div class="col" >
		    <label class=" control-label">Gender : <span style="color:red; font-weight:bold;">*</span></label>
        <select onchange="changeDropdown(this.value);" name="gender" class="form-control" required="required" id="gender" class="gender">
          <option value="">Select Gender</option>
          <option value="male" >Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <div class="col" >
        <label class="from-group" >Person:<span style="color:red; font-weight:bold;">*</span></label>
        <select id="person_id" name="person_id"  class="form-control">
          <option value="">Select Person</option>
          {% for x in per %}
          <option value="{{x.id}}">{{x.username}}</option>  
        {% endfor %}
        </select>     
      </div>
      <div  class="col">
        <label class=" control-label" > Start Date :</label>
        <input type="date" class="form-control"  name="start_date"  >
      </div>
      <div class="col"  >
        <label for="end_date" class=" control-label" > End Date :</label>
        <input type="date" class="form-control"  name="end_date" value="" >
      </div>
      
    </div>
    <div class="row">
      <div class="col" >
        <label for="status" >is Active :<span style="color:red; font-weight:bold;">*</span></label>
        <input type="checkbox"  id="status" name="status">
        <input type="text"  id="status_val" name="status_val"  value="0" hidden>
      </div>    
    </div>
    <div class="row">
      <div class="col">
        <label for="description" >Description :</label>
        <textarea id="description" class="form-control" name="description" rows="3" cols="50"></textarea>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-success my-3" >Submit</button>  
    </div>
  </div>
  </form>
</div>
          



<script type="text/javascript">
  $(document).ready(function() {
    gender = $("#gender").val();
    if(gender == 'male'){
      $("#pregnant_val").val(0);
      $("#hiddenFields1").hide();
      $("#hiddenFields").hide();
    }else{
    if($('#is_pregnant').is(":checked")){
      $("#pregnant_val").val(1);
        $("#hiddenFields").show();
      } else{
      $("#pregnant_val").val(0);
      $("#hiddenFields").hide();
    }

  }

   
 
    $("#status").on('click',function(){
      var status = $("#status").val();
      if ($("#status").is(':checked')) {
        $("#status_val").val(1);
      } else {
        $("#status_val").val(0);
      }
    })



    // 
    $("#is_pregnant").on('click',function(){
     
      var is_pregnant = $("#is_pregnant").val();
      if($('#is_pregnant').is(":checked")){
        $("#pregnant_val").val(1);
          $("#hiddenFields").show();
        } else{
        $("#pregnant_val").val(0);
        $("#hiddenFields").hide();
      }    
    });

    $("#gender").on('change',function(){
      var gender = $("#gender").val();
  
      if(gender == "male"){
       
        $("#hiddenFields1").hide();
        $("#hiddenFields").hide();
        $("#pregnant_val").val(0);
      }
      else{
        $("#hiddenFields1").show();
       
      }
         
    });
  
  
});

</script>  

{% endblock content %}
</body>
</html>