{% extends 'navbar.html' %}
{% block content %}
   
<div class="container my-3">
  <h4 class="text-center alert alert-info py-3">List of Animal Profile</h4>
{% if animal_pro %}
  <table class="table table-bordered"  id="animalTable">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Token No</th>
        <th scope="col">Name</th>
        <th scope="col">Color</th>
        <th scope="col">Weight</th>
        <th scope="col">Category Id</th>
        <th scope="col">Image</th>
        <th scope="col">Purchase Price</th>
        <th scope="col">Purchased Date</th>
        <th scope="col">Purchased By</th>
        <th scope="col">Date Of Birth</th>
        <th scope="col">Description</th>
        <th scope="col">Gender</th>
        <th scope="col">is_Pregnant</th>
        <th scope="col">pregnancy Start Date</th>
        <th scope="col">pregnancy End Date</th>
        <th scope="col">Status</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>

      </tr>
    </thead>
    <tbody>
     {% for ani in animal_pro %}
     <tr>
       <th scope="row">{{forloop.counter}}</th>
       <td>{{ani.token_no}}</td>
       <td>{{ani.name}}</td>
       <td>{{ani.color}}</td>
       <td>{{ani.weight}}</td>
       <td>{{ani.category.name}}</td>
       <td>{{ani.image}}</td>
       <td>{{ani.purchase_price}}</td>
       <td>{{ani.purchased_on|date:"d-m-Y"}}</td>
       <td>{{ani.purchased_by}}</td>
       <td>{{ani.date_of_birth|date:"d-m-Y"}}</td>
       <td>{{ani.description}}</td>
       <td>{{ani.gender}}</td> 
       {% if  ani.is_pregnant == 1 %}    
       <td>Yes</td>
       {% else %}
       <td></td>
       {% endif %}
       {% if  ani.gender == male %}
       <td></td>
       <td></td>
       {% else %}
       <td>{{ani.pregnancy_start_date|date:"d-m-Y"}}</td>
       <td>{{ani.pregnancy_end_date|date:"d-m-Y"}}</td>
       {% endif %}
       {% if  ani.status == 1 %}
       <td>Active</td>
       {% else %}
       <td>InActive</td>
       {% endif %}

       <td><a href="/animal_pro_edit/{{ani.animal_id}}" class="btn btn-sm btn-warning"/>Edit</td>
       <td><a href="/animal_pro_delete/{{ani.animal_id}}" class="btn btn-sm btn-danger"/>Delete</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <h4 class="text-center alert alert-warning">No Record</h4>
{% endif %}
</div>    


<script>
  $(document).ready(function() {
    // Initialize DataTable
    $('#animalTable').DataTable({
      "paging": true,      // Enable pagination
      "ordering": true,    // Enable sorting
      "searching": true,   // Enable search
      "info": true,        // Show info about entries and pagination
      "responsive": true,  // Enable responsive behavior
      "columnDefs": [
        // Specify column-specific options if needed
        // Example: {"targets": [0], "searchable": false, "orderable": false}
      ]
    });
  });  
</script>


{% endblock content %}