{% include  'navbar.html' %}

<a href="/insert_animal_profile" class="btn btn-primary" style="margin-left: 80%">Add Animal</a>
   
<div class="container my-3">
  <h4 class="text-center alert alert-info py-3">List of Animal Profile</h4>

  <table class="table table-bordered"  id="animalTable">
    <thead>
      <tr>
        {% comment %} <th scope="col">#</th> {% endcomment %}
        <th scope="col">Token</th>
        <th scope="col">Name</th>
        <th scope="col">Color</th>
        <th scope="col">Weight</th>
        <th scope="col">Category</th>
        {% comment %} <th scope="col">Image</th> {% endcomment %}
        {% comment %} <th scope="col">Purchase Price</th> {% endcomment %}
        <th scope="col">Purchased Date</th>
        {% comment %} <th scope="col">Purchased By</th> {% endcomment %}
        {% comment %} <th scope="col">Date Of Birth</th> {% endcomment %}
        <th scope="col">Description</th>
        <th scope="col">Gender</th>
        <th scope="col">Person</th>
        <th scope="col">Start Date</th>
        {% comment %} <th scope="col">End Date</th> {% endcomment %}
        <th scope="col">Status</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
     {% for animal in animal_pro %}
     <tr>
       {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}
       <td>{{animal.token_no}}</td>
       <td>{{animal.name}}</td>
       <td>{{animal.color}}</td>
       <td>{{animal.weight}}</td>
       <td>{{animal.category.name}}</td>
       {% comment %} <td>{{animal.image}}</td> {% endcomment %}
       {% comment %} <td>{{animal.purchase_price}}</td> {% endcomment %}
       <td>{{animal.purchased_on|date:"d-m-Y"}}</td>
       {% comment %} <td>{{animal.purchased_by}}</td> {% endcomment %}
       {% comment %} <td>{{animal.date_of_birth|date:"d-m-Y"}}</td> {% endcomment %}
       <td>{{animal.description}}</td>
       <td>{{animal.gender}}</td> 
       <td>{{animal.user.username}}</td>
       <td>{{animal.start_date|date:"d-m-Y"}}</td>
       {% comment %} <td>{{animal.end_date|date:"d-m-Y"}}</td>       {% endcomment %}
       {% if  animal.status == 1 %} 
       <td>Active</td>
       {% else %}
       <td>InActive</td>
       {% endif %}

       <td><a href="/animal_pro_edit/{{animal.animal_id}}" class="btn btn-sm btn-warning">Edit</a>
        {% comment %} <a href="/animal_pro_delete/{{animal.animal_id}}" class="btn btn-sm btn-danger">Delete</a></td> {% endcomment %}
     
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>    


<script>
 

$(document).ready(function() {
  // Initialize DataTable
  $('#animalTable').DataTable({
    "paging": true,      // Enable pagination
    "ordering": true,    // Enable sorting
    "searching": true,   // Enable search
    "info": true,        // Show info about entries and pagination
    "responsive": true,  // Enable responsive behavior
    "columnDefs": [
      // Specify column-specific options if needed
      // Example: {"targets": [0], "searchable": false, "orderable": false}
      ]
    });
  });  
</script>

{% endblock content %}

