<html>
  <head>
    <title>Animal List</title>
  </head>
  <body>
{% include  'navbar.html' %}

<a href="/insert_animal_profile" class="btn btn-primary" style="margin-left: 80%; margin-top: 2%;">Add Animal</a>
   
<div class="container my-3">
  <h4 class="text-center alert alert-info py-3">List of Animal Profile</h4>

  <table class="table table-bordered"  id="animalTable">
    <thead>
      <tr>
        {% comment %} <th scope="col">#</th> {% endcomment %}
        <th scope="col">Token</th>
        {% comment %}<th scope="col">Name</th>
        <th scope="col">Color</th>
        <th scope="col">Weight</th>{% endcomment %}
        <th scope="col">Category</th>
        <th scope="col">Gender</th>
        <th scope="col">Status</th>
        <th scope="col">Animal Type</th>

        {% comment %} <th scope="col">Image</th> {% endcomment %}
        {% comment %} <th scope="col">Purchase Price</th> {% endcomment %}

        {% comment %} <th scope="col">Date Of Birth</th> 
        <th scope="col">Description</th>{% endcomment %}
      
        <th scope="col">Created By</th>
        <th scope="col">Created On</th>
        <th scope="col">Updated By</th>
        <th scope="col">Updated On</th>
        
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
     {% for animal in animal_pro %}
     <tr>
      {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}
      <td>{{animal.token_no}}</td>
      {% comment %}  <td>{{animal.name}}</td>
      <td>{{animal.color}}</td>
      <td>{{animal.weight}}</td>{% endcomment %}
      <td>{{animal.category.name}}</td>
      <td>{{animal.gender}}</td> 
      {% if  animal.status == 1 %} 
      <td>Active</td>
      {% else %}
      <td>InActive</td>
      {% endif %}
      {% if  animal.animal_type == '1' %} 
      <td>Purchased</td>
      {% elif animal.animal_type == '2' %}
      <td>Shared</td>
      {% elif animal.animal_type == '3' %}
      <td>New Born</td>
      {% else %}
      <td></td>
      {% endif %}
      {% comment %} <td>{{animal.image}}</td> {% endcomment %}
      {% comment %}  <td>{{animal.ref_party_profile}}</td>{% endcomment %}

      {% comment %} <td>{{animal.date_of_birth|date:"d-m-Y"}}</td> 
      <td>{{animal.description}}</td>{% endcomment %}
      
       <td>{{animal.created_by}}</td>
      <td>{{animal.created_on|date:"d-m-Y"}}</td>    
      <td>{{animal.updated_by}}</td>
      <td>{{animal.updated_on|date:"d-m-Y"}}</td> 
      

       <td><a href="/animal_pro_edit/{{animal.animal_id}}" class="btn btn-sm btn-warning">Edit</a>
        {% comment %} <a href="/animal_pro_delete/{{animal.animal_id}}" class="btn btn-sm btn-danger">Delete</a></td> {% endcomment %}
     
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>    


<script>
 

$(document).ready(function() {
  // Initialize DataTable
  $('#animalTable').DataTable({
    "paging": true,      // Enable pagination
    "ordering": true,    // Enable sorting
    "searching": true,   // Enable search
    "info": true,        // Show info about entries and pagination
    "responsive": true,  // Enable responsive behavior
    // "columnDefs": [
      // Specify column-specific options if needed
      // Category: {"targets": [0], "searchable": false, "orderable": false}
    //  ]
    });
  });  
</script>


</body>
