<html>
  <head>
    <title>Animal Profile</title>
  </head>
<body>
  

  {% include 'navbar.html' %}





{% comment %} <div class="container my-3"> 
  <div  style="margin-left:30%; margin-top:-42%; "><b></b></div> {% endcomment %}
<div style="  margin:2%">
  
  <form action='/update_animal/{{animal.animal_id}}' method="POST" >
    <div class="alert alert-dark " role="alert" style="margin-top:5%;"><b >Basic Info</b></div>
    
    {% if error2 %}
    <div class="alert alert-danger" role="alert">Please Enter Token No !! </div>
    {% endif %}  
    {% if error3 %}
    <div class="alert alert-danger" role="alert">Please Enter purchased_by !! </div>
    {% endif %} 
    {% if error5 %}
    <div class="alert alert-danger" role="alert"> Please Enter Category !! </div>
    {% endif %} 
    {% if error6 %}
    <div class="alert alert-danger" role="alert">Please Enter Gender!! </div>
    {% endif %} 
    {% if error7 %}
    <div class="alert alert-danger" role="alert"> Please Enter Person!! </div>
    {% endif %} 



    {% csrf_token %}

    <div class="row">
      <div class="col-sm-3">
        <label class=" control-label">Token No :<span style="color:red; font-weight:bold;">*</span></label>

        <input type="text" class="form-control" name="animal_id" required maxlength="50" value="{{animal.animal_id}}" readonly hidden/>

       
        <input type="text" class="form-control" id="token_no" name="token_no" value= "{{animal.token_no}}" >

        
      </div>
      <div class="col-sm-3">
          <label class=" control-label">Name :</label>
          <input type="text" class="form-control" id="ani_name" name="ani_name" value="{{animal.name}}" >
      </div>
      <div class="col-sm-3">
        <label class=" control-label">Color :</label>
        <input type="text" class="form-control" id="color" name="color"  value="{{animal.color}}">
      </div>
      <div class="col-sm-3">
        <label class=" control-label">Weight(KG):</label>
        <input type="text" class="form-control" id="weight" name="weight"  value="{{animal.weight}}">
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-3" >
        <label class="from-group" >Category :<span style="color:red; font-weight:bold;">*</span></label>
        <select name="category_id" id="category_id" class="form-control" >
          {% for y in ani %}
            {% if animal.category_id == y.category_id %}
              <option  value="{{y.category_id}}" selected>{{y.name}}</option>  
            {% else %}
              <option  value="{{y.category_id}}">{{y.name}}</option> 
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="col-sm-3" >
        <label class=" control-label">Date of Birth :</label>
        <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" value="{{animal.date_of_birth|date:'Y-m-d'}}">
      </div>
      <div class="col-sm-3" >
		    <label class=" control-label">Gender : <span style="color:red; font-weight:bold;">*</span></label>
       <select  name="gender" class="form-control" required="required" id="gender" class="gender" >
          {% if animal.gender == 'male' %}
            <option value="male" selected >Male</option>
            <option value="female" >Female</option>
            
          {% else  %}
          <option value="female" selected>Female</option>
          <option value="male" >male</option>
          {% endif %}
          
        </select>
      </div>
      {% comment %} <div class="col-sm-3" >
        <label class=" control-label">Uplod Image</label>
        <input class="form-control" type="file" id="image" name="image">
      </div> {% endcomment %}
      <div  class="col-sm-3">
        
      </div>
    </div>
 

<div class="row">
  <div class="col-sm-3"  >
    <label class="from-group" >Animal Type:<span style="color:red; font-weight:bold;">*</span></label>
    <select id="animal_type" name="animal_type"  class="form-control" required>
      {% if animal.animal_type == '1' %}
      <option value="1" selected>Purchased</option>
      <option value="2" >Shared</option>
      <option value="3" >New Born</option>
      {% elif animal.animal_type == '2' %}
      <option value="1" >Purchased</option>
      <option value="2" selected>Shared</option>
      <option value="3" >New Born</option>
      {% elif animal.animal_type == '3' %}
      <option value="1" >Purchased</option>
      <option value="2" >Shared</option>
      <option value="3" selected>New Born</option>
      {% else %}
      <option value="" selected>Select Option</option>
      <option value="1" >Purchased</option>
      <option value="2" >Shared</option>
      <option value="3" >New Born</option>
      {% endif %}
    </select>
  </div>

  <div class="col-sm-3" >
    <label for="status" style="margin-top: 10%">is Active :</label>
    {% if animal.status == 1 %}
    <input type="checkbox" checked id="status" name="status" value="{{animal.status}} ">
  {% else %}
    <input type="checkbox"  id="status" name="status" value="{{animal.status}} ">
    {% endif %}
    <input type="text"  id="status_val" name="status_val"  value="0" hidden>
  </div>
</div>
<div class="row" id = 'purchased_detail'>

  <div class="col-sm-3" >
    <label class="from-group" >Party:</label>
    <select class="form-control" id="purchase_party_id" name="purchase_party_id">
      <option value="">Select Party</option>
      {% for party in all_parties %}
        {% if animal.purchased_party_id == party.party_code %}
        <option value="{{party.party_code}}" selected>{{party.name}}</option>
        {% else %}
        <option value="{{party.party_code}}" >{{party.name}}</option>
        {% endif %}
      {% endfor %}
    </select>   
  </div>
  <div class="col-sm-3" >
    <label for="purchase_price ">Purchase Price :</label>
    <input type="text" class="form-control" id="purchase_price" name="purchase_price" value="{{animal.purchase_price}}" >
  </div>
  <div class="col-sm-3" >
    <label for="purchased_date">Purchased Date :</label>
    <input type="date" class="form-control" id="purchased_on" name="purchased_on" value="{{animal.purchased_on|date:'Y-m-d'}}" >
  </div>

  <div class="col-sm-3"  >
    <button type="button" class="btn btn-sm btn-primary" id="btn_save" style="margin-left: 28%;" data-toggle="modal" data-target="#update_animal_profile">View Voucher</button>
  </div> 
</div>
<div class="row" id='shared_detail'>

  <div class="col-sm-3">
    <label class="from-group" >Party:<span style="color:red; font-weight:bold;">*</span></label>
    <select id="shared_party_id" name="shared_party_id"  class="form-control">
        <option value="">Select Party</option>
      {% for party in all_parties %}
        {% if animal.shared_party_id == party.party_code %}
        <option value="{{party.party_code}}" selected>{{party.name}}</option>
        {% else %}
        
        <option value="{{party.party_code}}" >{{party.name}}</option>
        {% endif %}
      {% endfor %}
    </select>    
  </div>

  <div class="col-sm-3"  >
    <label class=" control-label" > Start Date :</label>
    <input type="date" class="form-control"  name="start_date" value="{{animal.start_date|date:'Y-m-d'}}">
  </div>
  <div class="col-sm-3" >
    <label for="end_date" class=" control-label" > End Date :</label>
    <input type="date" class="form-control"  name="end_date" value="{{animal.end_date|date:'Y-m-d'}}">
  </div>  
</div>

<div class="row" id='new_born_detail'>
  <div class="col-sm-3">
    <label class="from-group" >Parent:<span style="color:red; font-weight:bold;">*</span></label>
    <select id="parent_id" name="parent_id"  class="form-control">
      <option value="">Select Partner</option>
      {% for parents in parent_list %}
      {% if parents.animal_id == animal.parent_id %}
      <option value="{{parents.animal_id}}" selected>{{parents.token_no}}</option>  
      {% else %}
      <option value="{{parents.animal_id}}" >{{parents.token_no}}</option>  
      {% endif %}
    {% endfor %}
    </select>    
  </div>
</div>


    <div class="row">
      <div class="col">
        <label for="description" >Description :</label>
        <textarea id="description" class="form-control" name="description" rows="3" cols="50">{{animal.description}}</textarea>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-success my-3" >Update</button>  
    </div>
  {% comment %} </div> {% endcomment %}
  </form>
</div>


<!--------------------------------------------------------------------->
<!-- Modal of Animal VOucher Start -->
<div class=" modal fade" id="update_animal_profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 1100px; margin-left: -300px;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Voucher Detail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          {% comment %} <form>
            {% csrf_token %} {% endcomment %}
            <div style="margin-left: 10px; margin-bottom: 30px;">
                <table>
                    <tr>
                        <td><label><b>Bill no#</b></label></td>
                        <td><input type="text" name="bill_id" id="bill_id" class="form-control" value="PV-{{purchase_detial.stock_purchase_main.bill_no}}" readonly></td>
                        <td><label style="margin-left: 370px;"><b>Vendor</b><span style="color:red; font-weight:bold">*</span></label></td>
                        <td>
                          
                          <input type="text" name="" id="vendor_name" class="form-control" value="{{animal.purchased_party.name}}" readonly>
                        
                        </td>
                    </tr>
                    <tr>
                        <td><label><b>Voucher Date</b></label></td>
                        <td><input type="date" name="voucher_date" id="voucher_date" value="{{purchase_detial.stock_purchase_main.created_on|date:"Y-m-d"}}"
                                class="form-control" readonly></td>
                        <td></td>
                    </tr>

                </table>
            </div>
            <br>
            <div class="form-group">
                <table class="table" id="table_id">
                    <thead>
                        <tr>
                            <th>Token Number<span style="color:red; font-weight:bold">*</span></th>
                            <th>Name</th>
                            <th>Unit Price</th>
                        </tr>
                    </thead>
                    <tbody id="table_body">
                        <tr>
                            <td>
                                <input type="text" name="token" id="token" class="form-control " value= "{{animal.token_no}}" readonly>
                            </td>
                            <td>
                                <input name="name" id="name" class="form-control" value="{{animal.description}}" readonly>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" name="price" id="price" class="form-control" value="{{purchase_detial.price}}" readonly>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% comment %} </form> {% endcomment %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="just_insert">Not Posted</button>
            <button type="button" class="btn btn-primary" id="insert_and_close">Posted</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>
<!-- Modal of Animal VOucher Start -->

          


<script type="text/javascript">
 
  $(document).ready(function() {
      // Animal Type Dependancies 
      var animal_type_on_load = $("#animal_type").val();
      if(animal_type_on_load == 1){
        $("#purchased_detail").show()
        $("#shared_detail").hide()
        $("#new_born_detail").hide()
      }else if(animal_type_on_load == 2){
        $("#purchased_detail").hide()
        $("#shared_detail").show()
        $("#new_born_detail").hide()

      }else if(animal_type_on_load == 3){
        $("#purchased_detail").hide()
        $("#shared_detail").hide()
        $("#new_born_detail").show()
      }else{
        $("#purchased_detail").hide()
        $("#shared_detail").hide()
        $("#new_born_detail").hide()
      }


 
  $("#animal_type").on('change',function(){
    var animal_type = $("#animal_type").val();
   
    if (animal_type == 1){
     $("#purchased_detail").show()
     $("#shared_detail").hide()
     $("#new_born_detail").hide()

    } else if( animal_type==2){
      $("#purchased_detail").hide()
      $("#shared_detail").show()
      $("#new_born_detail").hide()

    } else{
      $("#new_born_detail").show()
      $("#purchased_detail").hide()
      $("#shared_detail").hide()
    }
  })
   
  if($('#status').is(":checked")){
    $("#status_val").val(1);
      
    } else{
    $("#status_val").val(0);
    
  }
    $("#status").on('click',function(){
      var status = $("#status").val();
      if ($("#status").is(':checked')) {
        $("#status_val").val(1);
      } else {
        $("#status_val").val(0);
      }
    })
   
   


    // Voucer Code Start
    $('#voucher_view').click(function(e){
      e.preventDefault();
      // Code goes here
  });
// writing token number in Voucher
$("#token_no").on('keyup',function(){
  var token_no = $("#token_no").val();
  $("#token").val(token_no)
})
// writing Animal Name in Voucher
$("#ani_name").on('keyup',function(){
  var ani_name = $("#ani_name").val();
  $("#name").val(ani_name)
})
// writing Animal Purchase Price in Voucher
$("#purchase_price").on('keyup',function(){
  var purchase_price = $("#purchase_price").val();
  $("#price").val(purchase_price)
})
// Show Vendor Name in Voucher
$("#purchased_by").on('change',function(){
  var purchased_by = $("#purchased_by").val();
  var vendor_name = $("#purchased_by option:selected").text(); 
  $("#vendor_id").val(purchased_by)
  $("#vendor_name").val(vendor_name)
})
// Voucer Code END

});

     
      </script>  
     
</body>
</html>