<html>

<head>
    <title>Processing voucher</title>
</head>

<body>
    {% include 'header.html' %}
    <div id="msg"></div>

    <div style="margin-left:1000px;" class="mt-3">
        <a href="#" class="btn btn-primary">Processing</a>
    </div>
    <!-- Ledger Equity Insert Modal Start -->
    <div>
        <div class="">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 220%; margin-left: -60%">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Processing Voucher</h4>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">

                        <form>
                            {% csrf_token %}
                            <div style="margin-left: 10px; margin-bottom: 30px;">
                                <table>
                                    <tr>
                                        <td><label><b>Processing id#<span
                                                        style="color:red; font-weight:bold">*</span></b></label></td>
                                        <td><input autocomplete="off" type="text" name="processing_id"
                                                value="{{select_main.processing_id}}" id="processing_id" placeholder=""
                                                class="form-control"></td>

                                    </tr>
                                    <tr>
                                        <td><label><b>Processing no#<span
                                                        style="color:red; font-weight:bold">*</span></b></label></td>
                                        <td><input autocomplete="off" type="text" list="bills" name="voucher_no"
                                                value="{{select_main.voucher_no}}" id="voucher_no"
                                                placeholder="voucher_no" class="form-control"></td>

                                    </tr>
                                    <tr>
                                        <td><label><b>Voucher Date</b></label></td>
                                        <td><input type="date" name="voucher_date" id="voucher_date"
                                                value="{{select_main.voucher_date|date:'Y-m-d'}}" class="form-control">
                                        </td>
                                        <td></td>
                                    </tr>

                                </table>
                            </div>

                            <div class="bg-light">
                                <hr>
                                <h5>Add Goods for processing</h5>
                                <hr>
                            </div>

                            <div class="form-group">
                                <input type="text" hidden name="" id="row_counter" value="1">
                                <table class="table" id="table_id">
                                    <thead>
                                        <tr>
                                            <th>Item Code<span style="color:red; font-weight:bold">*</span></th>
                                            <th>Description</th>
                                            <th>Quantity<span style="color:red; font-weight:bold">*</span></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="table_body">
                                        {% for i in select_details %}
                                        <tr>
                                            <td>
                                                <input list="item_list" autocomplete="off" name=""
                                                    onchange="get_price('unit_price_0', 'browser_0' , 'item_name_0')"
                                                    id="browser_0" placeholder="Item Code"
                                                    class="form-control " value="{{i.stock_in_hand_id}}">
                                            </td>
                                            <td>
                                                <input name="item_name[]" id="item_name_0" placeholder="Item Name"
                                                    class="form-control item_name" value="{{i.stock_in_hand.name}}">
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input autocomplete="off" type="text" name="item_quantity[]"
                                                        onkeyup="item_qty('item_quantity_0','unit_price_0','total_price_0')"
                                                        id="item_quantity_0" placeholder="Item Quantity"
                                                        class="form-control item_quantity" value="{{i.quantity}}">
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div style=" margin-bottom: 10px; margin-left: 22px;">
                                <a class="btn btn-primary add_row" id="add_new_row">Add New Row</a>
                            </div>
                            <div class="bg-light">
                                <hr>
                                <h5>Finish Goods</h5>
                                <hr>
                            </div>
                            <div class="form-group">
                                <input type="text" hidden name="" id="row_counter" value="1">
                                <table class="table" id="table_processing_id">
                                    <thead>
                                        <tr>
                                            <th>Item Code<span style="color:red; font-weight:bold">*</span></th>
                                            <th>Description</th>
                                            <th>Quantity<span style="color:red; font-weight:bold">*</span></th>
                                            <th>Cost Price</th>
                                            <th>Retail Price</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="table_body_processing">
                                        <tr>
                                            <td>
                                                <input autocomplete="off" name="code[]" id="code" placeholder="Item Code"
                                                    class="form-control code">
                                            </td>
                                            <td>
                                                <input name="name[]" placeholder="Item Name" class="form-control name">
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input autocomplete="off" type="text" name="quantity[]"
                                                        placeholder="Item Quantity" class="form-control quantity ">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input type="text" name="cost_price[]" placeholder="Cost Price"
                                                        class="form-control cost_price">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input type="text" name="retail_price[]" placeholder="Retail Price "
                                                        class="form-control retail_price">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>

                    <div style=" margin-bottom: 10px; margin-left: 22px;">
                        <a class="btn btn-primary" id="add_new_row_processing">Add New Row</a>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" style="margin-right: 40px;" name="complete_processing"
                            class="btn btn-primary" id="complete_processing">Complete Processing</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ledger Equity Insert Modal End -->




    <script type="text/javascript">
        $(document).on("click", "#add_new_row_processing", function () {
            $("#table_processing_id tbody").append('<tr><td><input autocomplete="off" name="code[]" placeholder="Item Code" class="form-control "></td><td><input name="name[]" placeholder="Item Name" class="form-control "></td><td><div class="form-group"><input autocomplete="off" type="text" name="quantity[]" placeholder="Item Quantity" class="form-control "></div></td><td><div class="form-group"><input type="text" name="cost_price[]" placeholder="Cost Price" class="form-control "></div></td><td><div class="form-group"><input type="text" name="retail_price[]" placeholder="Retail Price " class="form-control "></div></td><td><a href="javascript:void(0)" class="remove_processing_row"><strong> Delete </strong></a></td></tr>');
        });
        $(document).on('click', '.remove_processing_row', function () {
            $(this).parents('tr').remove();
        });

        $(document).on("click", "#add_new_row", function () {
            var last_counter = $("#row_counter").val();
            var item_name_id = "'browser_" + last_counter + "'";
            var price_attr = "'unit_price_" + last_counter + "'";
            var quantity_id = "'item_quantity_" + last_counter + "'";
            var item_name = "'item_name_" + last_counter + "'";
            var total_price_id = "'total_price_" + last_counter + "'";
            $("#table_id tbody").append('<tr><td><input list="item_list" autocomplete="off" name="item_code[]" onchange="get_price(' + price_attr + ', ' + item_name_id + ', ' + item_name + ')"  id="browser_' + last_counter + '" placeholder="Item Code" class="form-control item_code"></td><td ><input  name="item_name[]" id="item_name_' + last_counter + '" placeholder="Item Name" class="form-control item_name"></td><td><div class="form-group"><input type="text" name="item_quantity[]" onkeyup="item_qty(' + quantity_id + ',' + price_attr + ',' + total_price_id + ')" id="item_quantity_' + last_counter + '" placeholder="Item Quantity"  class="form-control item_quantity"></div></td><td><a href="javascript:void(0)" class="remove_row"><strong> Delete </strong></a></td></tr>');
            last_counter++;
            $("#row_counter").val(last_counter);
        });
        $(document).on('click', '.remove_row', function () {
            $(this).parents('tr').remove();
        });

        $(document).ready(function () {

            $(document).on("click", "#complete_processing", function () {
                let processing_id = $("#processing_id").val();
                var code = document.getElementsByClassName('code'),
                    all_code = [].map.call(code, function (input) {
                        return input.value;
                    }).join(',');
                var quantity = document.getElementsByClassName('quantity'),
                    all_quantity = [].map.call(quantity, function (input) {
                        return input.value;
                    }).join(',');
                var cost_price = document.getElementsByClassName('cost_price'),
                    all_cost_price = [].map.call(cost_price, function (input) {
                        return input.value;
                    }).join(',');
                var retail_price = document.getElementsByClassName('retail_price'),
                    all_retail_price = [].map.call(retail_price, function (input) {
                        return input.value;
                    }).join(',');

                alert(all_code)
                return;


                $.ajax({
                    url: "finish_processing",
                    type: "POST",
                    data: {
                        processing_id: processing_id,
                        all_code: all_code,
                        all_quantity: all_quantity,
                        all_cost_price: all_cost_price,
                        retail_price: retail_price,
                    },
                    success: function (data) {
                        console.log(data)
                        if (data == "Data Inserted") {
                            //window.location.href = "{% url 'bill_details' %}";
                            $("#msg").html('<div class="alert alert-success text-center" role="alert">' + data + '</div>');
                        } else {
                            $("#msg").html('<div class="alert alert-danger text-center" role="alert">' + data + '</div>');
                        }
                    }
                });
            });
            item_names("browser_0");

            //------------------------------------------------------
            // sum all price values
            $('#table_id').on('keyup', function () {
                var sum = 0;
                $('.total_price').each(function () {
                    sum += Number($(this).val());
                });
                $('#grand_total').val(sum.toFixed(2));
                $('#afterdiscount').val(sum.toFixed(2));
                $("#after_additional_discount").val(sum.toFixed(2));
                $("#cash_payment").val(sum.toFixed(2));
            });
            //------------------------------------------------------
            // sum after deleting row
            $(document).on('click', '.remove_row', function () {
                var sum = 0;
                $('.total_price').each(function () {
                    sum += Number($(this).val());
                });
                $('#grand_total').val(sum.toFixed(2));
                $('#afterdiscount').val(sum.toFixed(2));
                $("#after_additional_discount").val(sum.toFixed(2));
                $("#cash_payment").val(sum.toFixed(2));
            });
        });
        //----------------------------------------------
        function get_price(price_field_id, item_name_id, item_name) {
            var item_id = $('#' + item_name_id).val();

            $.ajax({
                url: "load_item_detail/" + item_id,
                dataType: "JSON",
                success: function (data) {
                    console.log(data)
                    $("#" + price_field_id).val(data.purchase_price);
                    $('#' + item_name).val(data.name);
                }
            });
        }
        //---------------------------------------------
        // load item names
        function item_names(item_name_id) {
            //alert(item_name_id)
            $.ajax({
                url: "load_all_items",
                type: "POST",
                success: function (load) {
                    $("#" + item_name_id).html(load);
                }
            });
        }

        //-----------------------------------------------

        //-----------------------------------
        // geting item name and unit price on the base of item id
        function item_qty(quantity_id, price_attr, total_price_id) {
            var qty = $('#' + quantity_id).val();
            var unit_price = $('#' + price_attr).val();
            var mul = unit_price * qty;
            $('#' + total_price_id).val(mul.toFixed(2));
            var total = $('#' + total_price_id).val();
            var grand_total = + total;
            var a = ".00";
        }
        //-----------------------------------
        // geting item unit price and quantity on the base of item id
        function item_price(price_attr, quantity_id, total_price_id) {
            var qty = $('#' + quantity_id).val();
            var unit_price = $('#' + price_attr).val();
            var mul = unit_price * qty;
            $('#' + total_price_id).val(mul.toFixed(2));
            var total = $('#' + total_price_id).val();
            var grand_total = + total;
        }
//-----------------------------------------


    </script>

</body>

</html>