{% include  'navbar.html' %}

<a href="/shared_animal_payment_input" class="btn btn-primary" style="margin-left: 80%; margin-top: 2%;">Add Animal</a>
    
<div class="container my-3">
  <h4 class="text-center alert alert-info py-3">List of Shared Animal </h4>

  <table class="table table-bordered"  id="anima_share_lTable">
    <thead>
      <tr>
        <th scope="col">#</th> 
        <th scope="col">Name</th>
        <th scope="col">Phone Number</th>
       <th scope="col">Address</th> 
        <th scope="col">Number Of Animals</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
        
      </tr>
    </thead>
    <tbody>
      {% for shared_animal_detail in shared_animal_detail %}
<tr>
    <th scope="row">{{ forloop.counter }}</th> 
    <td>{{ shared_animal_detail.name }}</td>     
    <td>{{ shared_animal_detail.phone_no }}</td>
    <td>{{ shared_animal_detail.address }}</td> 
    <td>{{ shared_animal_detail.total_animal_count }}</td>
    {% if shared_animal_detail.status == 1 %} 
    <td>Active</td>
    {% else %}
    <td>InActive</td>
    {% endif %}
    <td>
        <a href="/shared_animal_list/{{shared_animal_detail.party_code}}" class="btn btn-sm btn-warning">Edit</a>
    </td>
</tr>
{% endfor %}

      
    </tbody>
  </table>
</div>    


<script>
 

$(document).ready(function() {
  // Initialize DataTable
  $('#anima_share_lTable').DataTable({
    "paging": true,      // Enable pagination
    "ordering": true,    // Enable sorting
    "searching": true,   // Enable search
    "info": true,        // Show info about entries and pagination
    "responsive": true,  // Enable responsive behavior
    "columnDefs": [
      // Specify column-specific options if needed
      // Example: {"targets": [0], "searchable": false, "orderable": false}
      ]
    });
  });  
</script>



