{% include  'navbar.html' %}

<a href="/shared_animal_payment_input" class="btn btn-primary" style="margin-left: 80%; margin-top: 2%;">Add Animal</a>
    
<div class="container my-3">
  <h4 class="text-center alert alert-info py-3">List of Shared Animal </h4>

  <table class="table table-bordered"  id="anima_share_lTable">
    <thead>
      <tr>
        <th scope="col">Token Number</th>
        <th scope="col">Category</th>
        <th scope="col">Gender</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
        
      </tr>
    </thead>
    <tbody>
      {% for animal_profile in animal_profile %}
<tr>
    <td>{{ animal_profile.token_no }}</td>     
    <td>{{ animal_profile.category.name }}</td>
    <td>{{ animal_profile.gender }}</td>
    {% if animal_profile.status == 1 %} 
    <td>Active</td>
    {% else %}
    <td>InActive</td>
    {% endif %}
    <td>
        <a href="/edit_animal_profile/{{animal_profile.animal_id}}" class="btn btn-sm btn-warning">Add Payment</a>
    </td>
</tr>
{% endfor %}

      
    </tbody>
  </table>
</div>    





