<!DOCTYPE html>
<html>

<head>
    <title>Transections</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="text-center" style="margin-top: 5px;">
        <table style="width:90%;">
            <tr>
                <td >
                    <span style="margin-left:-40%;"><b>Computer No</b></span>
                    <input type="text" placeholder="Search Computer no#" value="JV-" id="voucher_id">
                </td>
                <td >
                    <h5 style="margin-left: -68%;">J.V Details</h5>
                </td>
                <td ><a class="btn btn-primary btn-sm" style="margin-left: 50%;"
                        href="{% url 'journal_voucher' %}" >Add Voucher</a></td>
            </tr>
        </table>
    </div>

    <div style="margin-left: 50px; margin-right: 50px; margin-top: 10px;">
        <table class="table table-sm">
            <thead>
                <tr style="background: #A9A9A9">

                    <th scope="col">Sr.</th>
                    <th scope="col">Date</th>
                    <th scope="col">Voucher Number</th>
                    <th scope="col">Voucher Type</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>

                {% for i in select_all %}

                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.created_on|date:'d-m-Y'}}</td>
                    <td>{{i.voucher_no}}</td>
                    <td>{{i.ref_voucher_type.description}}</td>

                    <td><!--<button  id="{{ i.Account_No }}" class="btn btn-danger btn-sm party_delete">Delete</button> -->
                        <a href="voucher_detail/{{i.trans_id}}" class="btn btn-primary btn-sm">View</a>
                    </td>
                </tr>

                {% endfor %}



            </tbody>
        </table>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            LoadVouchers();

            $("#voucher_id").on("keyup", function () {
                var voucher_id = $("#voucher_id").val();
                $.ajax({
                    url: "transection_select.php",
                    type: "POST",
                    data: { bill_no: voucher_id },
                    success: function (data) {
                        $("#load-transections").html(data);
                    }
                });
            });
        });
    </script>
</body>

</html>