{% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="alert-danger"{% endif %}>{{ message }}</div>
        {% endfor %}
{% endif %}
<table class="table table-hover" >
    <thead>
        <tr>
            <th>Sr</th>
            <th>Name</th>
            <th>Description</th>
            <th>Sale Price</th>
            <th>Purchase price</th>
            <th>Stock in Hand</th>
            <th>Order Threshold</th>
            <th>Created On</th>
            <th>Updated On</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        
        {% for i in stock %}

    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.name}}</td>
        <td>{{i.description|capfirst}}</td>
        <td>{{i.sale_price}}</td>
        <td>{{i.purchase_price}}</td>
        <td>{{i.stock_in_hand}}</td>
        <td>{{i.order_threshold}}</td>
        <td>{{i.created_on|date:'d-m-Y'}}</td>
        <td>{{i.updated_on|date:'d-m-Y'}}</td>
         <td><!--<button  id="{{ i.Account_No }}" class="btn btn-danger btn-sm party_delete">Delete</button> -->
            <button id="{{ i.stock_id }}" class="btn btn-primary btn-sm update_account_data" data-toggle="modal" data-target="#update_account_model" disabled>Edit</button></td>
    </tr>
    
    {% endfor %}
    
    

    </tbody>
</table>