<html>

<body>
    {% include 'navbar.html' %}
    <!-- ----------------------------------------------------------------------------------------------------------------- -->
    <table style="width:90%; margin-left: 3%; margin-right: 3%; margin-top: 5px;">
        <tr>
            <td>
                <span><b>Invoice No</b></span>
                <input type="text" placeholder="Search Computer no#" value="SV-" id="voucher_id">
            </td>
            <td>
                <h5 style="margin-left: 0%; ">Invoice Details</h5>
            </td>
            <td><b style="margin-left: 30%; ">Total number of Invoices: {{count_invoice}}</b></td>
        </tr>
    </table>
    <!-- table start -->
    <div style="margin-left: 3%; margin-top: 1%; margin-right: 3%; margin-bottom:-15px">
        <table class="table table-hover table-sm">
            <thead>
                <tr style="background: #A9A9A9">
                    <th>Sr.</th>
                    <th>Invoice Number</th>
                    <th>Party Name</th>
                    <th>Amount</th>
                    <th>Posted Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for i in select_details %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>SV-{{i.stock_sale_main}}</td>
                    <td>{{i.stock_sale_main__ref_party_profile__name}}</td>
                    <td>{{i.res_price}}</td>
                    <td>{{i.stock_sale_main__created_on|date:'d-m-Y'}}</td>
                    <td><a class="btn btn-primary btn-sm update_account_data"
                            href="edit_invoice_details/{{ i.stock_sale_main__invoice_no }}">View</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>{{total_res_price}}</b></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <!-- table end  -->
    </div>
    <hr style="margin-left: 3%; margin-right: 3%;">
    <!-- --------------------------------------------------------------------------------------------------------------------- -->
</body>

</html>