<html>
  <head>
    <title>Update User Profile</title>
  </head>
<body>
  

{% extends 'navbar.html' %}

{% block content %}


  
{% comment %} <div class="container my-3"> 
  <div  style="margin-left:30%; margin-top:-42%; "><b></b></div> {% endcomment %}

  <form action='/update_user_profile/{{user_profile.id}}' method="POST" >
    <div class="alert alert-dark mt-5 row " role="alert" style="margin-top:50%;"><b >Update User Info</b></div>
    {% if error2 %}
    <div class="alert alert-danger offset-2" role="alert">
      Please Enter First Name !!    
    </div>
    {% endif %}  
    {% if error3 %}
    <div class="alert alert-danger offset-2"  role="alert">
      Please Enter Last Name !!    
    </div>
    {% endif %} 
    {% if error4 %}
    <div class="alert alert-danger offset-2" role="alert">
      Please Enter username !!    
    </div>
    {% endif %} 
    {% if error5 %}
    <div class="alert alert-danger offset-2" role="alert">
      Please Enter Email !!    
    </div>
    {% endif %} 
    {% if error6 %}
    <div class="alert alert-danger offset-2" role="alert">
      Please Enter User Role !!    
    </div>
    {% endif %} 

    {% if error8 %}
    <div class="alert alert-danger offset-2" role="alert">
      Please Enter Gender !!    
    </div>
    {% endif %} 
    {% if error9 %}
    <div class="alert alert-danger offset-2" role="alert">
      Please Enter is_Active Field !!    
    </div>
    {% endif %} 


    {% csrf_token %}
    <div class="container-fluid" >
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" name="id" required maxlength="50" value="{{user_profile.id}}" readonly hidden/>
    <div class="row">
      <div class="col">
        <label class=" control-label">First Name :<span style="color:red; font-weight:bold;">*</span></label>
        <input type="text" class="form-control" id="first_name" name="first_name"  value="{{user_profile.first_name}}">
      </div>
      <div class="col">
          <label class=" control-label">Last Name :<span style="color:red; font-weight:bold;">*</span></label>
          <input type="text" class="form-control" id="last_name" name="last_name"  value="{{user_profile.last_name}}">
      </div>
      <div class="col">
        <label class=" control-label">username :<span style="color:red; font-weight:bold;">*</span></label>
        <input type="text" class="form-control" id="username" name="username"  value="{{user_profile.username}}">
      </div>
      <div class="col">
        <label class=" control-label">Email :<span style="color:red; font-weight:bold;">*</span></label>
        <input type="text" class="form-control" id="email" name="email" value="{{user_profile.email}}" >
      </div>
      <div class="col">
        <label class=" control-label">Phone Number :</label>
        <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{user_profile.phone_number}}" >
      </div>
    </div>
    
    <div class="row" style="margin-top:10px;">
      <div class="col" >
        <label class="from-group" >User Role :<span style="color:red; font-weight:bold;">*</span></label>
        <select name="user_group" id="user_group" class="form-control" >
          {% for y in user_group %}
            {% if user_profile.user_group == y.user_group %}
              <option  value="{{y.user_group}}" selected>{{y.name}}</option>  
            {% else %}
              <option  value="{{y.user_group}}">{{y.name}}</option> 
            {% endif %}
          {% endfor %}
        </select>
      </div>

      <div class="col" >
        <label for="purchase_price ">City :</label>
        <input type="text" class="form-control" id="city" name="city" value="{{user_profile.city}}" >
      </div>
      <div class="col" >
        <label for="purchased_date">Country :</label>
        <input type="text" class="form-control" id="country" name="country" value="{{user_profile.country}}" >
      </div>
    
      <div class="col" >
        <label class=" control-label">Date of Birth :</label>
        <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" value="{{user_profile.date_of_birth}}">
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      
      <div class="col" >
		     <label class=" control-label">Gender : <span style="color:red; font-weight:bold;">*</span></label>
            <select  name="gender" class="form-control" required="required" id="gender" class="gender">
               {% if user_profile.gender == 'male' %}
                 <option value="male" selected >Male</option>
                 <option value="female" >Female</option>
                 
               {% else  %}
               <option value="female" selected>Female</option>
               <option value="male" >male</option>
               {% endif %}
               
             </select>
      </div>
      <div class="col" >
        <label for="status" >is Active :<span style="color:red; font-weight:bold;">*</span></label>
        {% if user_profile.status == 1 %}
          <input type="checkbox" checked id="status" name="status" value="{{user_profile.status}}">
        {% else %}
          <input type="checkbox"  id="status" name="status" value="{{user_profile.status}}">
        {% endif %}
        <input type="text"  id="status_val" name="status_val"  value="0" >
      </div>
      <div class="col" >
      </div>
      <div class="col" >
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="col">
        <label for="description" >Description :</label>
        <textarea id="description" class="form-control" name="description" rows="3" cols="50" >{{user_profile.description}}</textarea>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-success my-3" >Submit</button>  
    </div>
  </div>
  </form>

          



<script type="text/javascript">
  $(document).ready(function() {
    gender = $("#gender").val();
    if(gender == 'male'){
      $("#pregnant_val").val(0);
      $("#hiddenFields1").hide();
      $("#hiddenFields").hide();
    }else{
    if($('#is_pregnant').is(":checked")){
      $("#pregnant_val").val(1);
        $("#hiddenFields").show();
      } else{
      $("#pregnant_val").val(0);
      $("#hiddenFields").hide();
    }

  }

   
 
    $("#status").on('click',function(){
      var status = $("#status").val();
      if ($("#status").is(':checked')) {
        $("#status_val").val(1);
      } else {
        $("#status_val").val(0);
      }
    })



    // 
    $("#is_pregnant").on('click',function(){
     
      var is_pregnant = $("#is_pregnant").val();
      if($('#is_pregnant').is(":checked")){
        $("#pregnant_val").val(1);
          $("#hiddenFields").show();
        } else{
        $("#pregnant_val").val(0);
        $("#hiddenFields").hide();
      }    
    });

    $("#gender").on('change',function(){
      var gender = $("#gender").val();
  
      if(gender == "male"){
       
        $("#hiddenFields1").hide();
        $("#hiddenFields").hide();
        $("#pregnant_val").val(0);
      }
      else{
        $("#hiddenFields1").show();
       
      }
         
    });
  
  
});

</script>  

{% endblock content %}
</body>
</html>