{% include 'navbar.html' %}
{% block content %}
    {% if success %} 
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success:</strong> Your category has been added to the list 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span></button>
    </div>
    {% endif %}  
<div class="container my-3">
  <h4 class="  text-center alert alert-info">Add Category</h4>
  <form action="/cat_insert" method="POST" >
    {% if error %}
    <div class="alert alert-danger" role="alert">
      Please Enter Your Name !!    
    </div>
{% endif %}  
  
<style>
  textarea {
    
    margin-top: 20px;
}
</style>
    {% csrf_token %}
    <div class="from-group">
      <label for="cat_name">Name<span style="color:red; font-weight:bold;">*</span></label>
      <input type="text" class="form-control" id="cat_name" name="cat_name"  >
    </div>
    <div class="from-group">
      <label for="description" >Description</label>
      <textarea id="description" class="form-control" name="description" rows="3" cols="50"></textarea>
    </div>       
    <div>
    <button type="submit" class="btn btn-success my-3" >Submit</button>  
    </div>
  </form>
      </div>     
      {% endblock content %}