<html>
  <head>
    <title>Animal Category List</title>
  </head>
  <body>
{% include 'navbar.html' %}

<a href="/cat_insert" class="btn btn-primary" style="margin-left: 80%; margin-top: 2%;">Add Category</a>
   
<div class="container my-3">
  <h4 class="text-center alert alert-info py-3">List of Category</h4>
  {% if tasks %}
  <table class="table table-bordered" id="animalCategory">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Created by</th>
        <th scope="col">Updated by</th>
        <th scope="col">Edit</th>
        {% comment %} <th scope="col">Delete</th> {% endcomment %}

      </tr>
    </thead>
    <tbody>
        {% comment %} Run a loop here and iterate all the tasks {% endcomment %}
     {% for cat in tasks %}
     <tr>
       <th scope="row">{{forloop.counter}}</th>
       <td>{{cat.name}}</td>
       <td>{{cat.description}}</td>
       {% if cat.is_active == 1 %}
       <td>Active</td>  
       {% else %}
       <td>InActive</td>
       {% endif %}
       <td>{{cat.created_by}}</td>  
       <td>{{cat.updated_by}}</td> 
       <td><a href="/edit/{{cat.category_id}}" class="btn btn-sm btn-warning">Edit</td>
       {% comment %} <td><a href="/delete/{{cat.category_id}}" class="btn btn-sm btn-danger">Delete</td> {% endcomment %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <h4 class="text-center alert alert-warning">No Record</h4>
{% endif %}
</div>    
<script>
  $(document).ready(function() {
    // Initialize DataTable
    $('#animalCategory').DataTable({
      "paging": true,      // Enable pagination
      "ordering": true,    // Enable sorting
      "searching": true,   // Enable search
      "info": true,        // Show info about entries and pagination
      "responsive": true,  // Enable responsive behavior
      "columnDefs": [
        // Specify column-specific options if needed
        // Example: {"targets": [0], "searchable": false, "orderable": false}
      ]
    });
  });  
</script>

</body>
</html>